process.container = 'ipm-dc-dtr.weill.cornell.edu/mas2182/nextflow-bash:latest'

docker {
    enabled = true
}

process.executor = 'local'

profiles {
    local {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.clusterOptions = '-S /bin/bash '
    }

}