
process {
    container = 'quay.io/nextflow/bash'
    containerOptions = '  --net=host --rm  -u $(id -u):$(id -g)'
    executor = 'local'
}

docker {
    enabled = true
}

plugins {
    id 'nf-azure'
}

profiles {
    local {
        params {
            resultsDir = 'results'
        }
        process{
            executor = 'local'
        }
    }

    cluster {
        process {
            executor = 'sge'
            clusterOptions = '-S /bin/bash '
        }
    }

    azurebatch {
        process {
          executor = 'azurebatch'
          container = 'quay.io/nextflow/bash'
        }

        workDir = 'az://workdir/work' //workdir is a blob storage within the storage account
        params {
            resultsDir = 'az://results' //results is a blob storage within the storage account
        }
        azure {
          batch {
            location = 'eastus2'
            accountName = ''
            endpoint = ''
            accountKey = ''
            allowPoolCreation = true
            autoPoolMode = true
            deletePoolsOnCompletion = true
            copyToolInstallMode = 'task'

            pools {
               auto {
                     vmType = 'Standard_D4_v3'
                     vmCount = 1
               }
            }
          }

          storage {
            accountName = ''
            accountKey = ''
          }

          registry {
            server = 'docker.io'
            userName = ''
            password = ''
          }
        }
    }
}