
docker {
    enabled = true
}

plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
  container = 'docker.io/<org>/<image>:<tag>'
  queue = 'CGENPool' //pre-existing pool configureg to access to <org>
}

workDir = 'az://workdir2/work'

params.resultsDir = 'az://results'

azure {
  batch {
    location = 'eastus2'
    accountName = ''
    accountKey = ''
    copyToolInstallMode = 'task' //install azcopy on the pool node before executing the task

    pools {
       CGENPool {
        vmType = 'Standard_D4_v3'
        vmCount = 1
       }
    }
  }

  storage {
    accountName = ''
    accountKey = ''
  }
}