process.container = 'quay.io/nextflow/bash'
process.containerOptions = '  --net=host --rm  -u $(id -u):$(id -g)'
// default
process.executor = 'local'

docker {
    enabled = true
}

profiles {
    local {
        process.executor = 'local'
    }
    cluster {
        process.executor = 'sge'
        process.clusterOptions = '-S /bin/bash '
    }

}